[Unit]
Description=My Dibba worker
After=network.target

[Service]
Type=simple
User=root
PIDFile=/run/dibba.pid
WorkingDirectory=/opt/dibba
#ExecStart=/opt/dibba/.venv/bin/celery -A utils.celery.worker_node:app worker -l
 info
ExecStart=/opt/dibba/scripts/start_aws_worker.sh
StandardOutput=append:/var/log/dibba/worker_node.log
StandardError=append:/var/log/dibba/worker_node.err.log
Restart=on-failure
RestartSec=5
Environment="PYTHONUNBUFFERED=1"
KillSignal=SIGTERM
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
